* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	padding-bottom: 80px;
}
.container {
	margin-inline: auto;
	max-width: 1000px;
	margin-block: 30px;
}
